# Collect Citcom CU Data - MH
Mixed Heating Only

In [1]:
%reset -f
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os 
import glob
from IPython.display import set_matplotlib_formats
from scipy.optimize import curve_fit
import re
import matplotlib.ticker as mticker
import math

%config InlineBackend.figure_formats = ['svg']

In [2]:
main_path = 'C:\\Users\\super\\Dropbox\\Rice University\\501\\BL_Interactions_MH\\'
save_path = 'C:\\Users\\super\\Dropbox\\Rice University\\501\\BL_Interactions_Data\\'

fname = os.path.join(main_path,'[!m]*')
fileL = glob.glob(fname) #list of files
fileL = [file.replace(main_path,'') for file in fileL]
[fileL.remove(file) for file in fileL if '_' in file]; [fileL.remove(file) for file in fileL if 'Plume' in file];
ra_path = sorted (fileL, key = lambda x: (len (x), x))

# ra_path = ['1e6','1e7','1e8']
# ra_path = ['1e6','1e7']

newColOrder = ['Ra','H','NuT','NuB','VRMS','Ti']; Data = pd.DataFrame();

for i in range(len(ra_path)):    
    fname = os.path.join(main_path+ra_path[i],'[!m]*.txt')
    fileL = glob.glob(fname) #list of files
    temp = []
    for file in fileL:
        a = fileL.index(file)
        b = pd.read_csv(file,header=None)
        b.rename(columns={0:a}, inplace=True)
        temp.append(b)
    my_data = pd.concat(temp, axis=1, join="inner",ignore_index=True).drop([2,3,7,8],axis=1)
    my_data.rename(columns={0:'H',1:'Ti',4:'NuB',5:'NuT',6:'Ra',9:'VRMS'},inplace=True)
    my_data = my_data[newColOrder]
    Data = pd.concat([Data,my_data],ignore_index=True)

Data = Data.sort_values(by=['Ra','H'])
Data = Data.reset_index(drop=True)
Data.to_csv(save_path+'data_MH.csv', index=False)
Data

            Ra   H        NuT        NuB      VRMS        Ti
0    1000000.0  10  22.790893  12.914886  0.800367  0.786070
1    1000000.0  20  28.549451   8.620756  0.980093  0.952570
2    1000000.0  30  34.827180   4.940065  1.145567  1.102607
3    1000000.0  40  41.533440   1.690219  1.317089  1.257637
4   10000000.0  10  40.982606  30.129269  0.680469  0.673865
5   10000000.0  20  45.950478  25.070833  0.782580  0.770128
6   10000000.0  30  51.407200  21.347860  0.864068  0.846299
7   10000000.0  40  57.563286  17.571477  0.938895  0.915524
8   10000000.0  50  63.693602  13.992395  1.015163  0.985201
9  100000000.0  50  93.480236  42.229045  0.788596  0.776887